<div class="list-group">
    <a href="#" class="list-group-item" style="background:#e5e5e5;">
栏目管理
</a>
    <a href="/category/list" class="list-group-item <%if(act=='cat_list'){%>active<%}%>">栏目列表</a>
    <a href="/category/add" class="list-group-item <%if(act=='cat_add'){%>active<%}%>">添加栏目</a>

</div>

<div class="list-group">
    <a href="#" class="list-group-item" style="background:#e5e5e5;">
文章管理
</a>
    <a href="/article/list" class="list-group-item">文章列表</a>
    <a href="/article/add" class="list-group-item">添加文章</a>

</div>
