<% include ../header.ejs%>
    <% include ../nav.ejs%>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <% include ../sidebar.ejs%>
                </div>
                <div class="col-md-9">
                    <form action="/article/add" method="post">
                        <div class="form-group">
                            <label for="">所属栏目</label>
                            <select name="cid" id="">
                                <% for(var i=0;i<categoryList.length;i++){
                                    var category = categoryList[i];
                                    %>
                                <option value="<%=category.cid%>"><%=category.cname%></option>
                                <%}%>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">文章名称</label>
                            <input type="text" name="title" class="form-control" id="" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="">内容</label>
                            <textarea class="form-control" name="content" id="" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="form-control" id="" placeholder="">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% include ../footer.ejs%>
